In [15]:
import pandas as pd

In [27]:
contract_main = pd.read_csv('hack_2023/contract_main_info.csv', sep=';')
contract_item = pd.read_csv('hack_2023/contract_item_info.csv', sep=';', on_bad_lines='skip')
contract_termination = pd.read_csv('hack_2023/contract_termination.csv', sep=';')
contract_improper_execution = pd.read_csv('hack_2023/contract_improper_execution.csv', sep=';')
complaint_info = pd.read_csv('hack_2023/complaint_info.csv', sep=';')

C:\Users\Admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [40]:
def to_str(row):
    try:
        return str(int(row))
    except:
        return row
def to_int(row):
    try:
        return int(row)
    except:
        return row
contract_main['customer_inn'] = contract_main['customer_inn'].apply(to_str)
contract_main['supplier_inn'] = contract_main['supplier_inn'].apply(to_str)
contract_main['id_procedure'] = contract_main['id_procedure'].apply(to_int)
contract_main['execution_start_date'] =  pd.to_datetime(contract_main['execution_start_date'], format='%Y-%m-%d', errors='coerce')
contract_main['execution_end_date'] =  pd.to_datetime(contract_main['execution_end_date'], format='%Y-%m-%d', errors='coerce')
contract_main['sign_date'] =  pd.to_datetime(contract_main['sign_date'], format='%Y-%m-%d', errors='coerce')
contract_main['execution_start_date'] = contract_main['execution_start_date'].apply(lambda x: x if not pd.isnull(x) else '')
contract_main['execution_end_date'] = contract_main['execution_end_date'].apply(lambda x: x if not pd.isnull(x) else '')
contract_main['sign_date'] = contract_main['sign_date'].apply(lambda x: x if not pd.isnull(x) else '')
contract_main = contract_main.loc[~((contract_main['execution_end_date'] == '') 
                                    | (contract_main['execution_start_date'] == '') 
                                    | (contract_main['execution_start_date'].isna())
                                    | (contract_main['execution_end_date'].isna()))]
contract_main['time_for_work'] = ((contract_main['execution_end_date'] - 
                                   contract_main['execution_start_date']).dt.days.astype('int64'))

C:\Users\Admin\AppData\Local\Temp/ipykernel_12556/523820523.py:19: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  contract_main['sign_date'] = contract_main['sign_date'].apply(lambda x: x if not pd.isnull(x) else '')

In [42]:
contract_main_main = contract_main[['id_contract', 'id_procedure', 'customer_inn', 
                               'sign_date', 'contract_price_rub', 'execution_start_date',
                               'execution_end_date', 'supplier_inn', 'time_for_work']]
contract_main_main.head(20)

,id_contract,id_procedure,customer_inn,sign_date,contract_price_rub,execution_start_date,execution_end_date,supplier_inn,time_for_work
0,11694128,NaN,7309900546,2019-09-23,120603.88,2019-09-23,2019-09-30,7327012462,7
1,6476238,NaN,2221037355,2019-03-25,66536.52,2019-01-01,2019-12-31,2225163706,364
2,8685287,NaN,3329010657,2019-03-26,330000.00,2019-03-26,2020-01-18,7704440018,298
3,9127977,NaN,2221037355,2019-04-29,36913.34,2019-02-01,2019-12-31,2225163706,333
4,7086116,NaN,2221037355,2019-05-06,18308.07,2019-02-01,2019-12-31,2224181212,333
5,7278088,NaN,2221037355,2019-05-22,61235.10,2019-04-01,2019-12-31,2223577620,274
6,5174588,NaN,2221039049,2019-01-01,182000.00,2019-01-01,2020-01-20,2221008019,384
7,6490270,NaN,3329010657,2019-03-26,500000.00,2019-03-26,2020-01-18,7704440018,298
8,12143775,NaN,2221039049,2019-12-17,440000.00,2020-01-01,2020-12-31,2224152758,365
9,8685389,NaN,3329010657,2019-02-25,200000.00,2019-02-25,2020-01-18,7704440018,327
10,6051465,NaN,3329010657,2019-02-18,460000.00,2019-02-18,2020-01-18,7704440018,334
11,5974717,NaN,3329010657,2019-02-18,700000.00,2019-02-18,2020-01-18,7704440018,334
12,10506333,NaN,3329009147,2019-12-17,191962.10,2019-12-17,2019-12-30,7718538045,13
13,10506282,NaN,3329009147,2019-12-24,460582.98,2019-12-24,2019-12-31,7718538045,7
14,10505434,NaN,3329009147,2019-12-24,460582.98,2019-12-24,2019-12-31,7718538045,7
15,9687181,NaN,101002332,2019-11-28,2179.80,2019-11-01,2019-12-31,101009063,60
16,10505318,NaN,3329009147,2019-12-24,191899.84,2019-12-24,2019-12-31,7718538045,7
17,10505237,NaN,3329009147,2019-12-24,191899.84,2019-12-24,2019-12-31,7718538045,7
18,10505178,NaN,3329009147,2019-12-24,191899.84,2019-12-24,2019-12-31,7718538045,7
19,5678854,NaN,101010083,2019-01-28,80000.00,2019-01-01,2019-12-31,2308119595,364

In [44]:
contract_main_enforcment = contract_main[['sign_date', 'enforcement_type', 'enforcement_amount_rub', 'supplier_inn']].dropna()
contract_main_enforcment_bank = contract_main_enforcment.loc[contract_main_enforcment['enforcement_type'] == 'bankGuarantee']

2221138988      2393
1648033456      1833
7105049045      1748
2224174751      1657
7707049388      1582
                ...
526100550608       1
5229011481         1
60202921764        1
5262323343         1
1658187254         1
Name: supplier_inn, Length: 65340, dtype: int64

In [69]:
from tqdm.notebook import tqdm
from tqdm import notebook
from pandarallel import pandarallel
tqdm.pandas(desc="progress")
pandarallel.initialize(progress_bar = True)
results_dict_enforcment_bank={}

contract_main_enforcment_bank = contract_main_enforcment_bank.loc[contract_main_enforcment_bank['enforcement_amount_rub'] > 5000]
for inn_suplier in notebook.tqdm(contract_main_enforcment_bank['supplier_inn'].unique()):

    contract_main_enforcment_22 = contract_main_enforcment_bank.loc[
        contract_main_enforcment_bank['supplier_inn'] == inn_suplier]
    contract_main_enforcment_date = contract_main_enforcment_22['enforcement_amount_rub']
    contract_main_enforcment_date.index = contract_main_enforcment_22['sign_date']
    contract_main_enforcment_date =  contract_main_enforcment_date.resample('1M').sum()
    contract_main_enforcment_date = contract_main_enforcment_date['2018-10-01':]
    date = list(contract_main_enforcment_date.index.astype('str'))
    enforce_rub = list(contract_main_enforcment_date.fillna(0))
    dict_pers_enforc = {}
    for i in range(len(date)):
        dict_pers_enforc[date[i]]=enforce_rub[i]    
    results_dict_enforcment_bank[inn_suplier] = [dict_pers_enforc]

INFO: Pandarallel will run on 4 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

WARNING: You are on Windows. If you detect any issue with pandarallel, be sure you checked out the Troubleshooting page:
https://nalepae.github.io/pandarallel/troubleshooting/

  0%|          | 0/65221 [00:00<?, ?it/s]

In [72]:
with open('result_enforcment.json', 'w') as fp:
    json.dump(results_dict_enforcment_bank, fp)

In [74]:
contract_main_price = contract_main[['contract_price_rub', 'supplier_inn', 'sign_date']].dropna()

In [79]:
contract_main_price_json={}

for inn_suplier in notebook.tqdm(contract_main_enforcment_bank['supplier_inn'].unique()[:15000]):

    contract_main_price_22 = contract_main_price.loc[
        contract_main_price['supplier_inn'] == inn_suplier]
    contract_main_price_date = contract_main_price_22['contract_price_rub']
    contract_main_price_date.index = contract_main_price_22['sign_date']
    contract_main_price_date =  contract_main_price_date.resample('1M').sum()
    contract_main_price_date = contract_main_price_date['2018-10-01':]
    date = list(contract_main_price_date.index.astype('str'))
    enforce_rub = list(contract_main_price_date.fillna(0))
    dict_pers_price = {}
    for i in range(len(date)):
        dict_pers_price[date[i]]=enforce_rub[i]    
    contract_main_price_json[inn_suplier] = [dict_pers_price]

  0%|          | 0/15000 [00:00<?, ?it/s]

In [80]:
with open('result_prices.json', 'w') as fp:
    json.dump(contract_main_price_json, fp)

In [23]:
okpd = pd.read_excel('hack_2023/okpd.xlsx', sheet_name='Лист1')
okpd = okpd.drop(range(0, 7), axis=0)
okpd.columns = ['№', 'Код', 'Название']
okpd = okpd.drop(['№'], axis=1)

In [24]:
okpd.head()

         Код                                           Название
7         01     Продукция и услуги сельского хозяйства и охоты
8       01.1                                Культуры однолетние
9      01.11  Культуры зерновые (кроме риса), зернобобовые, ...
10   01.11.1                                            Пшеница
11  01.11.11                                    Пшеница твердая

In [25]:
def get_data_info(data):
    display(data.sample(20))
    display(data.info())
    display(data.describe(include='all'))

In [26]:
code = list(okpd['Код'])
name = list(okpd['Название'])
dict_name_code = {}
for i in range(len(name)):
    dict_name_code[code[i]]=name[i]

In [27]:
def code_name(row):
    try:
        return dict_name_code[row]
    except:
        return 0
contract_item['tru_okpd2_name'] = contract_item['tru_okpd2_code'].apply(code_name)

In [28]:
contract_main = contract_main[['id_contract', 'id_procedure', 'customer_inn', 'sign_date', 'contract_price_rub', 'execution_start_date', 'execution_end_date', 'supplier_inn']]
contract_item = contract_item[['id_contract', 'tru_okpd2_name']]
contract_termination = contract_termination[['id_contract', 't_reason_name']]
contract_improper_execution = contract_improper_execution[['id_contract', 'e_doc_execution_name']]
complaint_info = complaint_info[['id_procedure', 'processing_result']]

In [29]:
contract = contract_main.merge(contract_item, on='id_contract', how='outer')
contract = contract.merge(contract_termination, on='id_contract', how='outer')
contract = contract.merge(contract_improper_execution, on='id_contract', how='outer')
contract = contract.merge(complaint_info, on='id_procedure', how='outer')

contract.head(20)
contract.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8598586 entries, 0 to 8598585
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   id_contract           object
 1   id_procedure          float64
 2   customer_inn          object
 3   sign_date             object
 4   contract_price_rub    float64
 5   execution_start_date  object
 6   execution_end_date    object
 7   supplier_inn          object
 8   tru_okpd2_name        object
 9   t_reason_name         object
 10  e_doc_execution_name  object
 11  processing_result     object
dtypes: float64(2), object(10)
memory usage: 852.8+ MB

In [30]:
contract.head(20)

,id_contract,id_procedure,customer_inn,sign_date,contract_price_rub,execution_start_date,execution_end_date,supplier_inn,tru_okpd2_name,t_reason_name,e_doc_execution_name,processing_result
0,11694128.0,NaN,7309900546,2019-09-23,120603.88,2019-09-23,2019-09-30,7327012462,"Электроэнергия, произведенная теплоэлектроцент...",NaN,NaN,NaN
1,6476238.0,NaN,2221037355,2019-03-25,66536.52,2019-01-01,2019-12-31,2225163706,Услуги по обслуживанию помещений комплексные,Соглашение сторон,NaN,NaN
2,6476238.0,NaN,2221037355,2019-03-25,66536.52,2019-01-01,2019-12-31,2225163706,Услуги по обслуживанию помещений комплексные,Соглашение сторон,NaN,NaN
3,8685287.0,NaN,3329010657,2019-03-26,330000.00,2019-03-26,2020-01-18,7704440018,Услуги по распределению электроэнергии,Соглашение сторон,NaN,NaN
4,8685287.0,NaN,3329010657,2019-03-26,330000.00,2019-03-26,2020-01-18,7704440018,Услуги по распределению электроэнергии,Соглашение сторон,NaN,NaN
5,9127977.0,NaN,2221037355,2019-04-29,36913.34,2019-02-01,2019-12-31,2225163706,Услуги по обслуживанию помещений комплексные,NaN,NaN,NaN
6,9127977.0,NaN,2221037355,2019-04-29,36913.34,2019-02-01,2019-12-31,2225163706,Услуги по обслуживанию помещений комплексные,NaN,NaN,NaN
7,7086116.0,NaN,2221037355,2019-05-06,18308.07,2019-02-01,2019-12-31,2224181212,Услуги по обслуживанию помещений комплексные,NaN,NaN,NaN
8,7086116.0,NaN,2221037355,2019-05-06,18308.07,2019-02-01,2019-12-31,2224181212,Услуги по обслуживанию помещений комплексные,NaN,NaN,NaN
9,7278088.0,NaN,2221037355,2019-05-22,61235.10,2019-04-01,2019-12-31,2223577620,Услуги по обслуживанию помещений комплексные,NaN,NaN,NaN
10,5174588.0,NaN,2221039049,2019-01-01,182000.00,2019-01-01,2020-01-20,2221008019,"Электроэнергия, произведенная теплоэлектроцент...",Соглашение сторон,NaN,NaN
11,6490270.0,NaN,3329010657,2019-03-26,500000.00,2019-03-26,2020-01-18,7704440018,Услуги по распределению электроэнергии,Соглашение сторон,NaN,NaN
12,6490270.0,NaN,3329010657,2019-03-26,500000.00,2019-03-26,2020-01-18,7704440018,Услуги по распределению электроэнергии,Соглашение сторон,NaN,NaN
13,12143775.0,NaN,2221039049,2019-12-17,440000.00,2020-01-01,2020-12-31,2224152758,"Энергия тепловая, отпущенная тепловыми электро...",NaN,NaN,NaN
14,8685389.0,NaN,3329010657,2019-02-25,200000.00,2019-02-25,2020-01-18,7704440018,Услуги по распределению электроэнергии,Соглашение сторон,NaN,NaN
15,6051465.0,NaN,3329010657,2019-02-18,460000.00,2019-02-18,2020-01-18,7704440018,Услуги по распределению электроэнергии,Соглашение сторон,NaN,NaN
16,5974717.0,NaN,3329010657,2019-02-18,700000.00,2019-02-18,2020-01-18,7704440018,Услуги по распределению электроэнергии,Соглашение сторон,NaN,NaN
17,10506333.0,NaN,3329009147,2019-12-17,191962.10,2019-12-17,2019-12-30,7718538045,Препараты противоопухолевые,NaN,NaN,NaN
18,10506282.0,NaN,3329009147,2019-12-24,460582.98,2019-12-24,2019-12-31,7718538045,Препараты противоопухолевые,NaN,NaN,NaN
19,10506282.0,NaN,3329009147,2019-12-24,460582.98,2019-12-24,2019-12-31,7718538045,Препараты противоопухолевые,NaN,NaN,NaN

In [32]:
contract

,id_contract,id_procedure,customer_inn,sign_date,contract_price_rub,execution_start_date,execution_end_date,supplier_inn,tru_okpd2_name,e_doc_execution_name,processing_result,t_reason_name_Односторонний отказ заказчика от исполнения контракта в соответствии с гражданским законодательством,"t_reason_name_Односторонний отказ поставщика (подрядчика, исполнителя) от исполнения контракта в соответствии с гражданским законодательством",t_reason_name_Соглашение сторон,t_reason_name_Судебный акт
0,11694128.0,NaN,7309900546,2019-09-23,120603.88,2019-09-23,2019-09-30,7327012462,"Электроэнергия, произведенная теплоэлектроцент...",NaN,NaN,0,0,0,0
1,6476238.0,NaN,2221037355,2019-03-25,66536.52,2019-01-01,2019-12-31,2225163706,Услуги по обслуживанию помещений комплексные,NaN,NaN,0,0,1,0
2,6476238.0,NaN,2221037355,2019-03-25,66536.52,2019-01-01,2019-12-31,2225163706,Услуги по обслуживанию помещений комплексные,NaN,NaN,0,0,1,0
3,8685287.0,NaN,3329010657,2019-03-26,330000.00,2019-03-26,2020-01-18,7704440018,Услуги по распределению электроэнергии,NaN,NaN,0,0,1,0
4,8685287.0,NaN,3329010657,2019-03-26,330000.00,2019-03-26,2020-01-18,7704440018,Услуги по распределению электроэнергии,NaN,NaN,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8598581,NaN,6668548.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Признана обоснованной,0,0,0,0
8598582,NaN,5976388.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Признана обоснованной,0,0,0,0
8598583,NaN,5145977.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Признана необоснованной,0,0,0,0
8598584,NaN,5145977.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Признана необоснованной,0,0,0,0
8598585,NaN,5145977.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Признана необоснованной,0,0,0,0

In [16]:
complaint_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42139 entries, 0 to 42138
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_procedure       42139 non-null  int64
 1   processing_result  35654 non-null  object
dtypes: int64(1), object(1)
memory usage: 658.5+ KB

In [17]:
contract_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2634445 entries, 0 to 2634444
Data columns (total 8 columns):
 #   Column                Dtype
---  ------                -----
 0   id_contract           int64
 1   id_procedure          float64
 2   customer_inn          int64
 3   sign_date             object
 4   contract_price_rub    float64
 5   execution_start_date  object
 6   execution_end_date    object
 7   supplier_inn          float64
dtypes: float64(3), int64(2), object(3)
memory usage: 160.8+ MB

In [18]:
contract_improper_execution.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87487 entries, 0 to 87486
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_contract           87487 non-null  int64
 1   e_doc_execution_name  87487 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.3+ MB

In [ ]:
import os  
os.makedirs('folder', exist_ok=True)  
contract.to_csv('contract.csv')